<app-header (onFeatureSelected)="navigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature==='shop'"></app-shopping-list>
    </div>
  </div>
</div>
