<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- that's interesting it ([recipe]) targets scope of app-recipe-item I thought would be app-recipe-list     -->
    <app-recipe-item 
      *ngFor="let r of recipes" [recipe]="r"
      [recipe]="r"
      (onRecipeSelected)="recipeSelected(r)"
    ></app-recipe-item>
  </div>
</div>

